.event {
    display: flex;
    gap: 5px;
  margin-bottom: 5px;
}

.color_block {
  width: 5px;
  height: 26px;
  background-color: #4bb052;
  margin-right: 5px;
}

.text {
  width: 350px;
  line-height: 26px;
  cursor: pointer;
}

.delete{
    width: 12px;
    height: 12px;
    cursor: pointer;
}