.container {
}
.title {
  margin-bottom: 10px;
  font-weight: 600;
}
.timer_section {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.time {
  width: 50px;
  height: 50px;
  color: #b57765;
  font-weight: 800;
  text-align: center;
  line-height: 50px;
  background: linear-gradient(#eff0f1 50%, #e7e5e6 50%);
}

.text {
  color: #b57765;
  font-weight: 800;
}
