.container {
  position: relative;
}

.calendar_container {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
}

.calendar_container_opacity {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  opacity: 0.3;
}

.days {
  width: 142px;
  height: 30px;
  color: #a7a7a4;
  font-weight: 500;
}

.modal {
  display: none;
}

.show_modal {
  display: flex;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  background-color: white;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
