.container {
  // padding: 20px;
}

.date {
  text-align: left;
  padding: 10px;
  border-bottom: dotted 1px;
  margin-bottom: 20px;
}

.btn {
  position: absolute;
  bottom: 0px;
  right: 20px;
  background-color: #1876d2;
  color: white;
  border: none;
  border-radius: 4px;
  transition-duration: 0.3s;
}
.btn:hover {
  background-color: #1665c0;
}

.add {
  width: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.modal {
  display: none;
}

.show_modal {
  display: block;
}
