.container {
  padding: 20px;

}

.date{
  text-align: left;
  padding: 10px;
  border-bottom: dotted 1px;
  margin-bottom: 20px;
}

.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
}

.add{
  width: 50px;
  cursor: pointer;
  margin-top: 20px;
}
